
          <td>
            <input type = "text" [(ngModel)]="expense.title">
          </td>
          <td>
            <input type = "text" [(ngModel)]="expense.description">
          </td>
          <td>
            <input type = "text" [(ngModel)]="expense.date">
          </td>
          <td>
            <input type = "text" [(ngModel)]="expense.checknumber">
          </td>
          <td>
            <input type = "number" [(ngModel)]="expense.amount">
          </td>
          <td>
            <div>
              <button (click)="addExpense()">Save</button>
              <button (click)="deleteExpense()">Delete</button>
            </div>
          </td>
